h1 {
    color: salmon;
    background: lemonchiffon;
}
h2 {
    color: red;
    background: lemonchiffon;
}
h3 {
    color: green;
    background: lemonchiffon;
}
h4 {
    color: skyblue;
    background: lemonchiffon;
}
h5 {
    color: violet;
    background: lemonchiffon;
}
h6 {
    color: orange;
    background: lemonchiffon;
}